
body {
  text-align: center;
  background-color: #000;
  color:#777;
  font-family: monospace;
  font-family: 'Press Start 2P';
  line-height: 1.7;
  font-size:10px;
  font-smooth: never;
-webkit-font-smoothing : none;

  height:100vh;
  margin:0;
  padding:0;

  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
a {
  color:#999;
}

pre {
  margin: 0;
  padding: 0;
}

.settings {
  display:none;
}
#log {
  font-family: monospace;
  max-height: 200px;
  min-height: 200px;
  overflow: scroll;
  text-align: left;
  width: 512px;
  margin: auto;
  border: 1px solid #afafaf;
  padding: 5px;
  display:none;
}

#output {
  background-color: #111;
  height: 67vh;
  width: calc(67vh * 1.06);
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  border:solid 1px #333;
}

.controls {
  margin:20px 10px 10px;
  padding:10px 20px;
  border-radius: 15px;
  border:solid 1px #333;
  color:#999;
}
.controls th {
  color:#aaa;
}
.controls td {
  color:#ddd;
}
.controls td,
.controls th {
  padding:2px 10px;
}